<% layout('layout/layout_v1') -%>

<div style="display:inline-block; margin:0 auto;">
    <img src="/images/rilca.jpg" width="50%" style="display: block; margin-left: auto; margin-right: auto;"/>
</div>
