<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <div class="nav-link">
          <a class="btn btn-success btn-block" role="button" href="/documents/new_document">New Document</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/documents/">
          <i class="menu-icon"><span class="fa fa-book"></span></i>
          <span class="menu-title">PA Documents</span>
        </a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link" href="/pa_items/">
          <i class="menu-icon"><span class="fa fa-id-card"></span></i>
          <span class="menu-title">PA Items</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/staffs/">
          <i class="menu-icon"><span class="fa fa-tasks"></span></i>
          <span class="menu-title">Staffs</span>
        </a>
      </li>
      -->
      <!--<li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="menu-icon mdi mdi-content-copy"></i>
          <span class="menu-title">More</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="/staffs/">View All Staffs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pa_items/">View PA Items</a>
            </li>
          </ul>
        </div>
      </li>-->
    </ul>
  </nav>